<div class="chat-room-wrapper vh-100 d-flex flex-column">
  
  <% if @message.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="chat-header d-flex align-items-center py-3 px-4 position-relative">
    <%= link_to root_path, class: "text-dark position-absolute start-0 ms-4" do %>
      <i class="fa-solid fa-arrow-left arrow-left"></i>
    <% end %>

    <h3 class="m-0 fs-3 fw-bold mx-auto">
    <%# ➁ 名前を青色、残りを黒色に色分け %>
    <span class="text-primary"><%= @another_entry.user.name %> さん</span><span class="text-dark">とのトークルーム</span>
    </h3>
  </div>

  <%# メッセージ表示エリア %>
  <div class="chat-body p-4 flex-grow-1 overflow-auto">
    <div class="chat-content-box shadow-sm p-4 mx-auto">   
      
      <% @messages.each do |m| %>
        <% if m.user_id == current_user.id %>
          <%# 自分の投稿 %>
          <div class="d-flex justify-content-end mb-4">
            <div class="my-message-box ">
              <%= m.message %>
            </div>
          </div>
        <% else %>
          <%# 相手の投稿（左側・白系） %>
          <div class="d-flex justify-content-start mb-4 align-items-start">
            <div class="other-message-box">
              <%= m.message %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# 入力フォームエリア %>
  <div class="chat-form-box p-4 w-100 d-flex justify-content-center bg-transparent">
    <%= form_with model: [@room, @message], local: true,class: "w-100" do |f| %>
      <%# gap-2 を追加して、入力欄とボタンの間に隙間を作ります %>
      <div class="chat-form-group d-flex gap-2 mx-auto" style="max-width: 700px;">
        
        <%= f.text_field :message, class: "form-control border-0 bg-white shadow-sm ", placeholder: "メッセージを入力して下さい" %>
        <%= f.submit "送信する", class: "btn btn-primary shadow-sm" %>
      </div>
    <% end %>
  </div>
</div>